<form method="post" enctype="multipart/form-data" action="/upload">
  <input type="file" name="foto">
  <button>Enviar</button>
</form>

 <table>
  <% arquivos.forEach(arquivo => { %>
  <tr>
    <td><%= arquivo.name %></td>
    <td><a href="/ver/<%= arquivo.id %>">Ver Arquivo</a></td>
  </tr>
  <% }) %>
</table> -